body {
  margin: 0 auto;
  color: coral;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
.myroot{
height: 100%;
width: 100%;
}
.footer{
  width: 50%;
  margin:auto;
  margin-top: auto;
  background: white;
}
.driver{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.centraltext {
    margin: auto;
    padding: 250px 0;
    width: 50%;
    text-align: center;
    background-color: inherit;
}
.carCard {
  margin: auto;
  margin-top: 40px;
  width: 500px;
  background: white;
display: inline-block; 
}

.textSegment {
  width: 250px;
}

.mainPage {
  column-count: 2;
  /* column-fill: balance; */
  width: 100%;
  height: 100%;
  column-span: 0;
}


