
.NavBar{
    height: 150px;
}
.ui.table tr td { border-top: 0px !important; }
.ui.table tr th {
  border-bottom: 0px !important;
}
.loginrectangle 
{	height: 364px;	
  width: 771px;	
  background-color: #FFFFFF;	
  box-shadow: 0 2px 3px 0
   rgba(0,0,0,0.2);}

.registrectangle {	height: 188px;	
  width: 392px;	
  background-color: #FFFFFF;	
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);}
  register-now-to-buy {	height: 53px;	width: 338px;	color: #707070;	font-family: Rubik;	font-size: 12px;	letter-spacing: 0.43px;	line-height: 17px;}

  .not-registered-yet {	height: 34.67px;
      width: 201px;	
      color: #3F691A;	
      font-family: Rubik;	
      font-size: 14px;	
      padding-top: 25px;	
      padding-bottom: 30px;	
      margin-left: 33px;	
      margin-right: 158px;	
      letter-spacing: 0.5px;	
      line-height: 34px;}
      .did-you-know {	
        height: 34.67px;	
        width: 201px;	color: #595959;	
        font-family: Rubik;	font-size: 16px;	
        margin-top: 23.5px;
        margin-bottom: 12px;
        margin-left: 33.5px;
        margin-right: 158.5px;
        letter-spacing: 0.57px;	line-height: 34px;}
.the-best-lumber-are {	
          height: 52px;	width: 318px;
          margin-top: 23.5px;
          margin-bottom: 58px;
          margin-left: 34.5px;
          margin-right: 40.5px;
            color: #707070;	font-family: Rubik;	
            font-size: 12px;	
            letter-spacing: 0.43px;	
            line-height: 17px;}
.learn-more {	height: 19px;	
  width: 103px;	
  color: #3F691A;	
  font-family: Rubik;	
  font-size: 16px;	
  letter-spacing: 0.57px;	
  margin-bottom: 16.5px;
  margin-left: 259.5px;
  margin-right: 30.5px;
  line-height: 19px;}
  .sign-in {	height: 34.67px;	
    width: 129px;	
    color: #3F691A;	
    font-family: Rubik;	
    font-size: 20px;	
    letter-spacing: 0.71px;	
    line-height: 34px;}
    .button-text {	height: 16px;	
      width: 88px;	
      color: #FFFFFF;	
      font-family: Rubik;	
      font-size: 14.22px;	
      font-weight: 500;	
      letter-spacing: 1.25px;	
      line-height: 16px;	
      text-align: center;}
.ui.grid>.rowitem.call-778-329-3030-fo {	
    height: 24px;	
    width: 333px;	
    color: #BBBBBB;	
    font-family: Rubik;	
    font-size: 20px;	
    letter-spacing: 0.71px;	
    margin-top: 29px;
    margin-bottom: 34.5px;
    margin-left: 700px;
    margin-right: 24px;
    line-height: 24px;
    white-space: nowrap;

  }
  .h1.my-best-deals {	height: 19px;	
    width: 109px;	
    color: #595959;	
    font-family: Rubik;	
    font-size: 16px;	
    letter-spacing: 0.57px;	
    line-height: 19px;	
    text-align: center;}
    .lumber-io {	height: 19px;	
      width: 88px;	
      color: #BBBBBB;	
      font-family: Rubik;	
      font-size: 16px;	
      letter-spacing: 0.57px;	
      line-height: 19px;}
      .info {	height: 19px;	
        width: 38px;	
        color: #BBBBBB;	
        font-family: Rubik;	
        font-size: 16px;	
        letter-spacing: 0.57px;	
        line-height: 19px;}
 /*
 All below are the edit profile css styles
 */     
.edit-profile {
          height: 35px;
          width: 129px;
          color: #3F691A;
          font-family: Rubik;
          font-size: 20px;
          letter-spacing: 0.71px;
          line-height: 34px;
        }
.short-description {
          height: 36px;
          width: 616px;
          color: #595959;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 34px;
        }

.details {
          height: 35px;
          width: 129px;
          color: #000000;
          font-family: Rubik;
          font-size: 20px;
          letter-spacing: 0.71px;
          line-height: 34px;
        }
.email-address {
          height: 17px;
          width: 479.87px;
          color: #595959;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 17px;
        }
.ui.button.group {
    height: 42px;
    width: 172px;
    background: #1F370E;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 14.22px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-align: center;
        }
.ui.button.cancel {
  background: #FFFFFF;
  color: #3F691A;
  font-family: Rubik;
          font-size: 14.22px;
          font-weight: 500;
          letter-spacing: 1.25px;
          line-height: 16px;
          text-align: center;
          height: 42px;	
          width: 120px;
          margin-left: 16px;
        }
.lumber-preferences {
          height: 35px;
          width: 236px;
          color: #000000;
          font-family: Rubik;
          font-size: 20px;
          letter-spacing: 0.71px;
          line-height: 34px;
          margin-left: 2px;
        }
.email {
          height: 35px;
          width: 129px;
          color: #000000;
          font-family: Rubik;
          font-size: 20px;
          letter-spacing: 0.71px;
          line-height: 34px;
          margin-left: 26px;
          margin-right: 482px;
          margin-top: 14px;
        }
.terms {
          height: 47px;
          width: 580px;
          color: #595959;
          font-family: Rubik;
          letter-spacing: 0.57px;
        }
.payment-method {
          height: 24px;
          width: 169px;
          color: #595959;
          font-family: Rubik;
          font-size: 20px;
          letter-spacing: 0.71px;
          line-height: 24px;
          display:inline;
        }
.change-copy {
          height: 19px;
          width: 61px;
          color: #3F691A;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 19px;
        }
.ending-card{
          color: #595959;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 19px;
        }
.ui.button.success-check-wood {
          color: #FFFFFF;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 19px;
          text-align: center;
          border-radius: 16px;	
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        }
.ui.button.fail-check-wood {
    color: #3F691A;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0.57px;
    line-height: 19px;
    text-align: center;
    border-radius: 16px;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        }