body {
  height: 100vh;
  margin: 0 auto;
/*  margin-top: 50px; */
  color: coral;
  font-family: "Open Sans", sans-serif;
}
html, body {
      width: 100%;
        height: 100%;

}
.header {
  text-align: center;
}
.centraltext {
    margin: auto;
    padding: 250px 0;
    width: 50%;
    text-align: center;
    background-color: inherit;
}
.carCard {
  margin: auto;
  color: black;
  border-style: solid;
  border-width: thin;
  margin-left: '2em'; 
  height: contain;
  width: 300px;
  background: white;
  text-align: center;
}

.textSegment {
  width: 250px;
}

.mainPage {
  column-count: 2;
  /* column-fill: balance; */
  column-span: 0;
}

