
.NavBar{
    height: 150px;
}
.ui.table tr td { border-top: 0px !important; }
.ui.table tr th {
  border-bottom: 0px !important;
}
.loginrectangle 
{	height: 364px;	
  width: 771px;	
  background-color: #FFFFFF;	
  box-shadow: 0 2px 3px 0
   rgba(0,0,0,0.2);}

.registrectangle {	height: 188px;	
  width: 392px;	
  background-color: #FFFFFF;	
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);}
  register-now-to-buy {	height: 53px;	width: 338px;	color: #707070;	font-family: Rubik;	font-size: 12px;	letter-spacing: 0.43px;	line-height: 17px;}

  .not-registered-yet {	height: 34.67px;
      width: 201px;	
      color: #3F691A;	
      font-family: Rubik;	
      font-size: 14px;	
      padding-top: 25px;	
      padding-bottom: 30px;	
      margin-left: 33px;	
      margin-right: 158px;	
      letter-spacing: 0.5px;	
      line-height: 34px;}
      .did-you-know {	
        height: 34.67px;	
        width: 201px;	color: #595959;	
        font-family: Rubik;	font-size: 16px;	
        margin-top: 23.5px;
        margin-bottom: 12px;
        margin-left: 33.5px;
        margin-right: 158.5px;
        letter-spacing: 0.57px;	line-height: 34px;}
.the-best-lumber-are {	
          height: 52px;	width: 318px;
          margin-top: 23.5px;
          margin-bottom: 58px;
          margin-left: 34.5px;
          margin-right: 40.5px;
            color: #707070;	font-family: Rubik;	
            font-size: 12px;	
            letter-spacing: 0.43px;	
            line-height: 17px;}
.learn-more {	height: 19px;	
  width: 103px;	
  color: #3F691A;	
  font-family: Rubik;	
  font-size: 16px;	
  letter-spacing: 0.57px;	
  margin-bottom: 16.5px;
  margin-left: 259.5px;
  margin-right: 30.5px;
  line-height: 19px;}
  .sign-in {	height: 34.67px;	
    width: 129px;	
    color: #3F691A;	
    font-family: Rubik;	
    font-size: 20px;	
    letter-spacing: 0.71px;	
    line-height: 34px;}
.ui.grid>.rowitem.call-778-329-3030-fo {	
    height: 24px;	
    width: 333px;	
    color: #BBBBBB;	
    font-family: Rubik;	
    font-size: 20px;	
    letter-spacing: 0.71px;	
    margin-top: 29px;
    margin-bottom: 34.5px;
    margin-left: 700px;
    margin-right: 24px;
    line-height: 24px;
    white-space: nowrap;

  }
  .h1.my-best-deals {	height: 19px;	
    width: 109px;	
    color: #595959;	
    font-family: Rubik;	
    font-size: 16px;	
    letter-spacing: 0.57px;	
    line-height: 19px;	
    text-align: center;}
    .lumber-io {	height: 19px;	
      width: 88px;	
      color: #BBBBBB;	
      font-family: Rubik;	
      font-size: 16px;	
      letter-spacing: 0.57px;	
      line-height: 19px;}
      .info {	height: 19px;	
        width: 38px;	
        color: #BBBBBB;	
        font-family: Rubik;	
        font-size: 16px;	
        letter-spacing: 0.57px;	
        line-height: 19px;}
.lumber-text {
          height: 17px;
          width: 318px;
          color: #595959;
          font-family: Rubik;
          font-size: 12px;
          letter-spacing: 0.43px;
          line-height: 17px;
        }
 /*
 All below are the edit profile css styles
 */     
.edit-profile {
          height: 35px;
          width: 129px;
          color: #3F691A;
          font-family: Rubik;
          font-size: 20px;
          letter-spacing: 0.71px;
          line-height: 34px;
        }
.short-description {
          height: 36px;
          width: 616px;
          color: #595959;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 34px;
        }

.details {
          height: 35px;
          width: 129px;
          color: #000000;
          font-family: Rubik;
          font-size: 20px;
          letter-spacing: 0.71px;
          line-height: 34px;
        }
.email-address {
          height: 17px;
          width: 479.87px;
          color: #595959;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 17px;
        }
.ui.button.group {
    height: 42px;
    width: 172px;
    background: #1F370E;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 14.22px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-align: center;
        }
.ui.button.cancel {
  background: #FFFFFF;
  color: #3F691A;
  font-family: Rubik;
          font-size: 14.22px;
          font-weight: 500;
          letter-spacing: 1.25px;
          line-height: 16px;
          text-align: center;
          height: 42px;	
          width: 120px;
          margin-left: 16px;
        }
.lumber-preferences {
          height: 35px;
          width: 236px;
          color: #000000;
          font-family: Rubik;
          font-size: 20px;
          letter-spacing: 0.71px;
          line-height: 34px;
          margin-left: 2px;
        }
.email {
          height: 35px;
          width: 129px;
          color: #000000;
          font-family: Rubik;
          font-size: 20px;
          letter-spacing: 0.71px;
          line-height: 34px;
          margin-left: 26px;
          margin-right: 482px;
          margin-top: 14px;
        }
.terms {
          height: 47px;
          width: 580px;
          color: #595959;
          font-family: Rubik;
          letter-spacing: 0.57px;
        }
.payment-method {
          height: 24px;
          width: 169px;
          color: #595959;
          font-family: Rubik;
          font-size: 20px;
          letter-spacing: 0.71px;
          line-height: 24px;
          display:inline;
        }
.change-copy {
          height: 19px;
          width: 61px;
          color: #3F691A;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 19px;
        }
.ending-card{
          color: #595959;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 19px;
        }
.ui.button.success-check-wood {
          color: #FFFFFF;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 19px;
          text-align: center;
          border-radius: 16px;	
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        }
.ui.button.fail-check-wood {
    color: #3F691A;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0.57px;
    line-height: 19px;
    text-align: center;
    border-radius: 16px;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        }
/*
Order Page
*/ 
.order-placed {
	color: #595959;
	font-family: Rubik;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.57px;
  line-height: 19px;
  text-align: left;
}
.order-item {
  color: #3F691A;
  font-family: Rubik;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.57px;
	line-height: 19px;
}
.arriving {
	color: #595959;
	font-family: Rubik;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.71px;
	line-height: 24px;
}
/*
extra info page attributes
*/
.info-header {
  display: inline-block;
	height: 59px;
	width: 909px;
	color: #3F691A;
	font-family: Rubik;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 2.14px;
  line-height: 36px;
 
}
.info-exit {
	height: 48px;
	width: 48px;
  color: #3F691A;
  margin-left: 500px;
  margin-right: 36px;
  margin-bottom: 31px;
  float: right;
}
.info-top{
  display: inline-block;
  width: 1366px;
  height: 59px;
  margin-left: 43px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.ui.button.info-button
 {
	height: 42px;
	width: 240px;
  background: #3F691A;
	font-family: Rubik;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 2.14px;
  line-height: 36px;
  margin-left: 43px;
  margin-bottom: 39px;
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 14.22px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: center;
}
.info-text {
	color: #3F691A;
	font-family: Rubik;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.71px;
  line-height: 24px;
  margin-left: 26px;
  margin-top: 19px;
  margin-right: 470px;
  text-align: left;
}
.info-expand {
	color: #3F691A;
	font-family: Rubik;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.71px;
  line-height: 24px;
  text-align: left;
  margin-left: 26px;
  margin-top: 27px;
  margin-bottom: 28px;
}
.info-describe {
	color: #3F3F3F;
	font-family: Rubik;
	font-size: 20px;
	letter-spacing: 0.71px;
  line-height: 24px;
  text-align: left;
  margin-left: 26px;
  margin-right: 137px;
  margin-top: 8px;
}
/*
For the Checkout Page
*/
.date {
  margin-left: 21px;
  margin-top: 17px;
  margin-right: 189px;
  margin-bottom: 14px;
	color: #3F691A;
	font-family: Rubik;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.71px;
  line-height: 24px;
  height: 49px;	
  width: 396px;
}
.type{
    margin-left: 23px;
    margin-bottom: 5px;
    height: 40px;
    width: 606px;
    color: #595959;
    font-family: Rubik Regular;
    font-size: 36px;
    letter-spacing: 1.29px;
    line-height: 36px;
    text-align: left;
}
.seller{
    margin-bottom: 14px;
    margin-left: 23px;
    width: 382px;
    color: #BBBBBB;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 1.29px;
    line-height: 19px;
    text-align: left;
}
.change-order{
	height: 19px;
	width: 61px;
	color: #3F691A;
	font-family: Rubik;
	font-size: 16px;
	letter-spacing: 0.57px;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 145px;
}
.shipping-details {
	height: 24px;
	color: #595959;
	font-family: Rubik;
	font-size: 20px;
	letter-spacing: 0.71px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-left: 21px;
  margin-top: 17px;
  margin-right: 145px;
}
.address {
	height: 191px;
	width: 367px;
	color: #595959;
	font-family: Rubik;
	font-size: 16px;
	letter-spacing: 0.57px;
  line-height: 19px;
  margin-left: 21px;
  margin-right: 145px;


}
.ui.button.checkout-button {
	height: 36px;
	width: 221px;
  background: #3F691A;
	font-family: Rubik;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 2.14px;
  line-height: 36px;
  margin-left: 20px;
  margin-right: 157px;
  margin-bottom: 18px;
  margin-top: 15px;
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 14.22px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: center;
}
.checkout-info {
	color: #595959;
	font-family: Rubik;
	font-size: 16px;
	letter-spacing: 0.57px;
  line-height: 19px;
  margin-left: 20px;
  margin-right: 20px;
}
.checkout-header {
	color: #595959;
	font-family: Rubik;
  font-size: 16px;
  font-weight: 800;
	letter-spacing: 0.57px;
  line-height: 19px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.checkout-amount {
  float: right;
}

.total-header {
	width: 232px;
	color: #595959;
	font-family: Rubik;
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 0.71px;
  line-height: 24px;
  margin-left: 19px;
  margin-right: 47px;
  margin-bottom: 30px;
  text-align: left;

}
.total-cdn {
	width: 232px;
	color: #3F691A;
	font-family: Rubik;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 1.29px;
  line-height: 43px;
  margin-bottom: 11px;
  text-align: left;
}
.savings-checkout {
	height: 29px;
	width: 356px;
	color: #F02121;
	font-family: Rubik;
	font-size: 16px;
	letter-spacing: 0.57px;
  line-height: 19px;
  margin-left: 17px;
  margin-right: 337.5px;
  margin-bottom: 21px;
  margin-top: 21px;
}
.savings-footer {
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
    height: 66px;
    width: 398px;
    background-color: #F6F7F6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.ui.popup.pop-up {
	height: 111px;
	width: 259px;
	color: #3F691A;
	font-family: Rubik;
	font-size: 16px;
	letter-spacing: 0.57px;
  line-height: 19px;
  border-radius: 4px;
  background-color: #E9F5E9;
  box-shadow: 0 2px 4px 0 #CCCCCC;
}
.log-out {
	color: #595959;
	font-family: Rubik;
	font-size: 16px;
	letter-spacing: 0.57px;
	line-height: 19px;
	text-align: center;
}
/*
Log in Pop over
*/
.sign-in {
	height: 34.67px;
	width: 346px;
	color: #595959;
	font-family: Rubik;
	font-size: 13px;
	letter-spacing: 0.46px;
  line-height: 34px;
  margin-left: 38px;
  margin-bottom: 18.33px;
  margin-right: 178px;
}
.ui.menu.menu-text {
	height: 60px;
	width: 224px;
	color: #3F691A;
	font-family: Rubik;
	font-size: 16px;
	letter-spacing: 0.57px;
	line-height: 34px;
	text-align: center;
}
.ui.menu.two.item .item.menu-text {
	color: #3F691A;
	font-family: Rubik;
	font-size: 16px;
	letter-spacing: 0.57px;
	line-height: 34px;
	text-align: center;
}
.ui.button.reg-choices {
    color: #3F691A;
    font-family: Rubik;
    font-size: 13px;
    letter-spacing: 0.46px;
    line-height: 15px;
    text-align: center;
}
.ui.button.cho-reg-choices {
	color: #FFFFFF;
	font-family: Rubik;
	font-size: 13px;
	letter-spacing: 0.46px;
	line-height: 15px;
  text-align: center;
  margin-bottom: 16px;
  background-color: #0F4210;
}
.ui.button.button-text {	
  color: #FFFFFF;	
  font-family: Rubik;	
  font-size: 14.22px;	
  font-weight: 500;	
  letter-spacing: 1.25px;	
  line-height: 16px;	
  background-color: #3F691A;
  text-align: center;
}
.register {
    height: 17px;
    width: 432px;
    color:#707070;
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: 0.43px;
    line-height: 17px;
  }
  