.center-fit {
    max-width: 100%;
    max-height: auto;
    margin: auto;
}

.sub-banner {
    display: flex;
}


.left {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 10px;
}

.leftnew {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 10px;
}

.homepage-test h1 {
    font-size: 50px;
}

.bold {
    font-weight: 900;
    
}

.light {
    font-weight: 100;
    margin-top: -20px;
}

.homepage-test p {
    font-size: 25px;
}

.homepage-test a {
    font-size: 20px;
    color: #77B8B3;
    text-decoration: none;
    font-style: italic;
}

.right1 {
    display: flex;
    flex: 1 1 0;
}

.right1 .grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr min-content;
    text-align: center;
}

.right1 img {
    /* width: 100%;
    border-radius: 10px;
    height: auto;
    max-height: 400px;
    white-space: wrap; */
    width: 800px; /* Set your desired width */
    height: 400px; /* Set your desired height */
    object-fit: cover;
    border-radius: 10px;
}

.grid-tile {
    display: flex;
    flex-direction: column;
}

.italic {
    font-size: 20px;
    font-style: italic;
}

.gradient {
    font-weight: 900;
    font-size: 50px;
    background-image: linear-gradient(to right, rgba(120, 214, 209, 0.8), rgba(140, 214, 209, 0.2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.values {
    margin-top: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.value {
    display: flex;
    gap: 10%;
}

h1.boldish {
    font-weight: 900;
    font-size: 40px;
}

.gradient-bg {
    background: linear-gradient(0turn, #DAFFFB, #ebf8e1, #FDFFF9);
    margin: 2% 0% 0% 0%;
    padding: 5%;
    padding-top: 2%;
}

.flex-container {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: space-between; /* Space between text and image */
  }
  
  .text-content {
    flex: 1; /* Adjust as needed for text section width */
    padding-right: 20px; /* Space between text and image */
  }
  
  .image-content {
    flex: 1; /* Adjust as needed for image section width */
    max-height: 30px;
  }
  
  @media (max-width: 600px) { /* Adjust the max-width as needed */
    .value {
        display: flex;
        gap: 10%;
        flex-direction: column;
    }
    .leftnew {
        display: flex;
        flex-direction: column;
    }
    .sub-banner {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .right1 .grid {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 1fr min-content;
        text-align: center;
    }

    .grid-tile {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
  }
