ul li {
  margin-bottom: 2px;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  margin: 4rem max(7%, 200px) 0px max(7%, 200px); 
  gap: 8px;
  margin: 0 auto;
  max-width: 1400px;
  grid-gap: 0.9rem;
}

.card-layout .card {
  background-color: #EAEAEA;
  text-align: center;
  padding: 5% 0%;
  font-size: 2vw;
  color: black;
  width: 100%;
  border-radius: 10px;
  overflow-wrap: break-word;
}

