ul li {
  margin-bottom: 2px;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  margin: 4rem 7% 0px 7%; 
  gap: 8px;
  margin: 0 auto;
  max-width: 1400px;
  grid-gap: 0.9rem;
}

.card-layout .card {
  background-color: #EAEAEA;
  text-align: center;
  padding: 5% 0%;
  font-size: 2vw;
  color: black;
  width: 100%;
  border-radius: 10px;
  overflow-wrap: break-word;
}

.fading-card {
  background-color: #F5F5F5;
  text-align: center;
  border-radius: 10px;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  position: relative;
  padding: 2em;
  font-size: min(2vw, 24px);

}

.fading-card > img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fading-card > figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 300ms;
  border-radius: 10px;
  padding: 30px;
}

.fading-card > figcaption:hover { 
  opacity: 0.87;
}

.fading-card > p {
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}