ul li {
  margin-bottom: 2px;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  margin: 4rem 7% 0px 7%; 
  gap: 8px;
  margin: 0 auto;
  max-width: 1400px;
  grid-gap: 1rem;
}

.card-layout .card {
  background-color: #EAEAEA;
  text-align: center;
  padding: 5% 0%;
  font-size: 2vw;
  color: black;
  width: 100%;
  border-radius: 16px;
  overflow-wrap: break-word;
}

.fading-card {
  background-color: #F5F5F5;
  text-align: center;
  border-style: solid;
  border-color: #CCCCCC;
  border-radius: 16px;
  border-width: 1px;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  position: relative;
  padding: 4em 0;
  font-size: min(2vw, 20px);
  display: flex;
}

.fading-card > img {
  width: min(80%, 280px);
  margin: auto;
}

.fading-card > figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 300ms;
  border-radius: 16px;
  padding: 5% 10%;
  overflow-y: auto;

}

.fading-card > figcaption:hover { 
  opacity: 0.87;
}
